.contract-panel {
  padding: 10px 100px;
  .contract-secondary {
    display: flex;
    justify-content: space-between;
  }
  .contract-title {
    text-align: center;
  }
  .contract-companies {
    display: flex;
    justify-content: space-around;
  }
  .contract-items {
    text-align: left;
  }
  .contract-payment {
    border: 1px solid #cccccc;
  }
}
