.contractPanel {
  padding: 10px 100px;
}
.contractSecondary {
  display: flex;
  justify-content: space-between;
}
.contractTitle {
  text-align: center;
}
.contractCompanies {
  display: flex;
  justify-content: space-around;
}
.contractItems {
  text-align: left;
}
.contractPayment {
  border: 1px solid #cccccc;
}
