.productRow {
  margin-bottom: 20px;
  border: 1px solid #00a0e9;
  border-radius: 4px;
}

.productCol {
  padding-top: 30px;
  border-right: 1px solid #00a0e9;
  opacity: 0.5;
  transition: all 0.5 ease-in-out;
}

.productCol:hover {
  opacity: 1;
}
