.productRow {
  margin-bottom: 20px;
}

.productCol {
  padding-top: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.productCol:hover {
  border: 1px solid #00a0e9;
  transition: all 0.5s ease-in-out;
}
